{% extends 'base.html.twig' %}

{% block body %}

    {{ form_start(form) }}

    <div class="row justify-content-md-center">
    <div class="row">
        <div class="col col-lg-6">
        <h5>App Name: {{ clientApp.name }} </h5>
        <p>This app would like to gain access to your personal Information</p>
        </div>
    </div>
    <div class="row">
        <div class="col col-lg-3">
            {{ form_widget(form.approve) }}
            {{ form_widget(form.decline) }}
        </div>

    </div>
    {{ form_end(form) }}
{% endblock body %}