{% extends 'base.html.twig' %}

{% block body %}
<div class="table-responsive">
    <table class="table responsive">
        <thead>
        <tr>
            <th>Applications</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>

        {% for application  in applications %}
            <tr>
                <td>
                    <a href="{{ path('microservice_edit', {id: application.getId() })}}">
                        {{ application.getName() }}
                    </a>
                </td>
                <td>
                    <a href="{{ path('microservice_edit_scope', {microserviceId: application.getId()} )}}" class="btn btn-sm btn-outline-primary">
                        <i class="k-button-icon"></i> Edit Scope
                    </a>
                    <a href="{{ path('microservice_edit', {id: application.getId()} )}}" class="btn btn-sm btn-outline-primary">
                        <i class="k-button-icon"></i> Edit Microservice
                    </a>
                    <a href="{{ path('microservice_settings', {microserviceId: application.getId()}) }}" class="btn btn-sm btn-outline-primary">
                        <i class="k-button-icon"></i> View Settings
                    </a>
                </td>

            </tr>
        {% endfor %}
        </tbody>

    </table>
</div>
{% endblock body %}